body{
    background-color: aquamarine;
    color: blueviolet;
    background-image: url("/CHECKER.png");
    background-repeat: repeat;
}
a{
    color:auto;
}

.large{
    font-size: 128px;
}
